// color
$clr-primary-500: #C72A00;

$clr-neutral-0: #FFFFFF;
$clr-neutral-200: #D8D3C7;
$clr-neutral-primary-500: #192038;
$clr-neutral-secondary-300: #FFFCDA;
$clr-neutral-1000: #000000;

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700
);

$ff-primary: 'Inter', sans-serif;